.card {
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	&__title {
		font-size: 2rem;
		text-transform: uppercase;
		font-family: var(--secondary-font);
		font-weight: 700;
		letter-spacing: 3px;
		margin: 2rem 0 1rem 0;
	}
}
