.thankyou {
	width: 35%;
	background-color: var(--color-white);
	border-radius: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 6rem 8rem;

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__status {
		background-image: url("../../assets/icons/round-check-icon.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 12rem;
		height: 12rem;
	}

	&__title {
		font-size: 3rem;
		font-weight: 500;
		text-transform: uppercase;
		margin: 2rem 0;
	}

	&__quote {
		font-size: 2rem;
		// font-style: italic;
		// font-weight: 700;
		text-align: center;
		margin-bottom: 10rem;
	}
}
