.auth {
	width: 100%;
	min-height: 100vh;
	background-image: url("../../assets/images/Auth/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -40% bottom;
}
