.register {
	width: 85%;
	height: 85vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;

	display: flex;

	&__form {
		background-color: rgba(0, 0, 0, 0.5);
		flex: 1;
	}

	&__back {
		position: absolute;
		top: -3rem;
		left: 0;
		color: var(--color-white);
		display: flex;
		align-items: center;
		font-family: var(--secondary-font);
		font-size: 1.4rem;
		cursor: pointer;
	}

	&__icon {
		fill: var(--color-white);
		width: 3rem;
		height: 3rem;
	}
}
