.video {
	padding: 14rem 0;

	&__wrapper {
		display: flex;
		gap: 10rem;

		& > * {
			flex-basis: 50%;
		}
	}

	&__paragraph {
		color: var(--color-grey-1);
		font-size: 1.5rem;
		margin: 2rem 0 4rem 0;
	}

	&__preview {
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__preview:hover &__button {
		transform: scale(1.24);
	}

	&__button {
		position: absolute;
		top: 40%;
		left: 42%;
		// transform: translate(-50%, -50%);
		background-color: var(--color-red-3);
		border-radius: 50%;
		padding: 1.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease;
	}

	&__icon {
		width: 6rem;
		height: 6rem;
		fill: var(--color-white);
	}
}
