.hero {
	&__slider {
		height: 85vh;
	}

	&__cards {
		display: flex;
	}
}

.slide {
	width: 100%;
	height: 100%;
	position: relative;

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&__content {
		position: absolute;
		top: 22%;
		left: 10%;
	}

	&__button {
		margin-top: 1.4rem;
	}
}
