.modal {
	position: fixed;
	top: 0;
	right: 0;
	width: 32%;
	height: 100vh;
	background-color: var(--color-white);
	z-index: 100;
	transform: translateX(100%);
	transition: transform 0.4s ease;

	&__visible {
		transform: translateX(0);
	}
}
