.scroll {
	background-color: #252525;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	bottom: 2rem;
	right: 3rem;
	text-decoration: none;
	color: var(--color-white);

	padding: 0.6rem 2rem;

	&:hover &__arrow {
		transform: translateY(2rem);
	}

	&:hover &__text {
		transform: translateY(-2rem);
	}

	&__arrow {
		transition: all 0.4s ease;
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		fill: var(--color-white);
	}

	&__text {
		margin-top: -1rem;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-family: var(--secondary-font);
		transition: all 0.4s ease;
	}
}
