.new_member {
	flex-basis: 40%;
	background-color: rgba(0, 0, 0, 0.85);
	position: relative;

	&__heading {
		color: var(--color-white);
		line-height: 1.2;

		&_primary {
			font-size: 2.5rem;
			font-weight: 500;
		}

		&_secondary {
			font-size: 4rem;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	&__subheading {
		color: var(--color-grey-1);
		font-size: 1.4rem;
		text-transform: capitalize;
		font-weight: 600;
		font-family: var(--secondary-font);
	}

	&__member {
		text-align: center;
		color: var(--color-grey-1);
		font-size: 1.4rem;
		position: absolute;
		bottom: 8rem;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}

	&__text {
		font-family: var(--secondary-font);
		text-transform: capitalize;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}

	&__button {
		width: 60%;
	}
}
