.thumbnail {
	&__banner {
		width: 5.5rem;
		height: 5.5rem;
		cursor: pointer;
		position: relative;
	}

	&__banner:hover &__overlay {
		opacity: 0.3;
	}

	&__overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: var(--color-black-2);
		opacity: 0;
		transition: opacity 0.4s ease;
	}

	&__image {
		width: 100%;
		height: 100%;
	}
}
