.heading {
	font-family: var(--secondary-font);
	text-transform: uppercase;

	&__light {
		color: var(--color-white);
	}

	&__dark {
		color: var(--color-black);
	}

	&__primary {
		font-size: 5.6rem;
		font-weight: 600;
		letter-spacing: 2rem;
		line-height: 1.2;
	}

	&__secondary {
		font-size: 4.2rem;
		letter-spacing: 1.2rem;
	}

	&__tertiary {
		font-weight: 700;
		letter-spacing: 4px;
		font-size: 1.7rem;
	}
}
