.sidebar {
	width: 100%;
	height: 100%;
	padding: 3rem 5rem;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__heading {
		font-family: var(--secondary-font);
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 3rem;
		color: var(--color-black);
	}

	&__close {
		cursor: pointer;
		transition: transform 0.3s ease;

		&:hover {
			transform: rotate(180deg);
		}
	}

	&__wrapper {
		height: 100%;
		background-image: url("../../../assets/images/UI/sidebar-background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		color: var(--color-grey-1);
	}

	&__content {
		margin-top: 3.5rem;
	}

	&__paragraph {
		font-size: 1.4rem;
		max-width: 86%;
		line-height: 1.8;
	}

	&__list {
		list-style: none;
		padding: 4rem 0;
		border-bottom: 1px solid var(--color-grey-1);
	}

	&__item {
		font-size: 1.2rem;
		font-family: var(--secondary-font);
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__footer {
		margin-top: 3rem;
	}

	&__foot_text {
		font-family: var(--secondary-font);
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: 4px;
		line-height: 2;
	}
}
