.highlight {
	background-image: url("../../../assets/images/Home/Highlight/highlight-back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 65vh;

	&__cards {
		display: flex;
		align-items: center;
		height: 100%;
		gap: 3rem;
	}
}
