.field {
	&__area,
	&__text {
		padding: 2rem;
		font-family: inherit;
		background-color: rgba(255, 255, 255, 0.2);
		border: none;
		border-radius: 0.5rem;
		outline: none;
		color: var(--color-white);
		font-size: 1.6rem;
		width: 100%;

		&::placeholder {
			color: var(--color-white);
			text-transform: capitalize;
		}
	}
}
