.card {
	background-color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	transition: all 0.4s ease;

	&:hover {
		box-shadow: 5px 8.66px 30px 0 rgba(31, 35, 37, 0.078);
		transform: translateY(-0.8rem);
	}

	&__body {
		padding: 1.2rem 3.5rem;
	}

	&__image {
		margin-bottom: 2.4rem;
	}

	&__review {
		margin: 1.4rem 0 6rem 0;
		font-size: 1.4rem;
		line-height: 1.8;
	}

	&__footer {
		background-color: var(--color-grey-4);
		width: 100%;
		padding-bottom: 2.5rem;
	}

	&__profile {
		width: 7rem;
		height: 7rem;
		margin-top: -3.5rem;
	}

	&__name,
	&__designation {
		font-family: var(--secondary-font);
		text-transform: uppercase;
	}

	&__name {
		font-size: 1.5rem;
		font-weight: 700;
		margin: 0.8rem 0 0.6rem 0;
		letter-spacing: 2px;
		color: var(--color-grey-5);
	}

	&__designation {
		font-size: 1.2rem;
		color: var(--color-red-3);
		font-weight: 700;
	}
}
