.button {
	text-transform: uppercase;
	font-size: 1.4rem;
	color: var(--color-white);
	font-family: var(--secondary-font);
	font-weight: 600;
	background-color: var(--color-red-1);
	transition: background-color 0.4s ease;
	border: none;
	outline: none;
	padding: 1.8rem 5.8rem;
	border-radius: 10rem;
	cursor: pointer;
	letter-spacing: 1.5px;

	&:hover {
		background-color: var(--color-red-2);
	}
}
