:root {
	--primary-font: "Open Sans", sans-serif;
	--secondary-font: "Montserrat", sans-serif;

	--color-white: #ffffff;
	--color-black: #2d2d2d;

	--color-red-1: rgb(239, 73, 75);
	--color-red-2: rgb(254, 78, 79);

	--color-grey-1: #808080;
}
