:root {
	--primary-font: "Open Sans", sans-serif;
	--secondary-font: "Montserrat", sans-serif;

	--color-white: #ffffff;
	--color-black: #2d2d2d;
	--color-black-2: #292929;

	--color-red-1: rgb(239, 73, 75);
	--color-red-2: rgb(254, 78, 79);
	--color-red-3: #f0494c;

	--color-grey-1: #808080;
	--color-grey-2: #fefcfd;
	--color-grey-3: #f2f2f2;
	--color-grey-4: #fafbfb;
	--color-grey-5: #444546;
	--color-grey-6: #6a6a6a;
}
