.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: var(--color-white);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	transform: translateY(-110%);
	transition: transform 0.6s ease;
	padding: 2.2rem 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__visible {
		transform: translateY(0);
	}
}

.navigation {
	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		font-family: var(--secondary-font);
	}
}
